*{
    transition: all 0.25s;
}

body{
    background-image:url(https://i.pinimg.com/564x/b1/bd/c1/b1bdc1ae539dcbd1a7c33cef3e5f2d9a.jpg) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}



/* header{
   
    
     width: 60rem;
    height: 35rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid grey;
    overflow: hidden; 
    
    margin-bottom: 4rem;
    margin-top: 4rem;
    
    padding-top: 1rem;
    padding-bottom: 1rem; 
    
} */

.formulario{
    display: flex;
    justify-content: center;
    
}


#pregunta{
    border-radius: 7px;
    height: 15vw;
    padding: auto;
    width: 80vw;
     align-self: center; 
  
 
  background: white;

}
/* header{
    display: flex;
    justify-content: center;
} */




h2{
    font-size: larger;
    

}

.respuestaIngresada{
    border-radius: 7px;
    border-color: white;
    /* padding: 20px 20px; */
    font-size: 20px;
   
    width: 80vw;
    height: 4rem;
}

#resultado{
    color: white;
}

#contador{
    color: white;
}